name: SonarCloud

on:
  push:
    branches:
      - develop
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'zulu'

      - name: Cache SonarCloud packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Maven repo
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-m2-

      - name: Setup Maven settings
        env:
          AUTH_TOKEN: ${{ secrets.AUTH_TOKEN }}
        run: |
          mkdir -p ~/.m2
          echo "          <settings>
            <servers>
              <server>
                <id>github-forge-it</id>
                <username>${{ github.actor }}</username>
                <password>${APP_TOKEN}</password>
              </server>
              <server>
                <id>github-app-afesox</id>
                <username>${{ github.actor }}</username>
                <password>${APP_TOKEN}</password>
              </server>
            </servers>
          </settings>" > ~/.m2/settings.xml

      - name: Cache SonarCloud packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.APP_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: >
          mvn -B verify
          org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
          -Dsonar.host.url=https://sonarcloud.io
          -Dsonar.organization=sitionix-vv
          -Dsonar.projectKey=sitionix_notificationservice-sox
          -Dsonar.coverage.jacoco.xmlReportPaths=jacoco-report/target/site/jacoco-aggregate/jacoco.xml
          -Dsonar.token=${SONAR_TOKEN}
          -Dsonar.exclusions=**/target/generated-sources/**,**/generated/**,**/build/**,**/*.md,**/*.txt
